<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ioana.traveldiaryapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:label="@string/trips"
            android:name=".activities.TripsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.MainActivity"
                android:value="com.example.ioana.traveldiaryapp.activities.MainActivity" />
        </activity>

        <activity
            android:label="Add trip"
            android:name=".activities.AddTripActivity"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:label="Note"
            android:name=".activities.TravelNoteActivity"
            android:theme="@style/AppTheme">
        </activity>

    </application>

</manifest>